* {
    margin: 0;
    padding: 0;
    border: 0;
}
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* background: #121214 */
img{
    position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;

}
.container{
    background-color: #121214;
    height: 100vh;
    width: 50%;
}
h2{
    position: absolute;
    width: 566px;
    height: 30.44px;
    left: 36px;
    top: 236px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    /* Green */
    
    color: #08C05E;}
.content{
    color: white;
}

.paragraph-1{
    position: absolute;
    width: 517px;
    height: 16px;
    left: 36px;
    top: 275px;

    font-family: 'League-Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
}
.paragraph-2{
    position: absolute;
    width: 647px;
    height: 38px;
    left: 36px;
    top: 300px;

    font-family: 'League-Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
label{
    position: absolute;
    width: 133px;
    height: 19px;
    left: 36px;
    top: 388px;

    font-family: 'League-Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 138.73%;
    /* or 19px */
    color: #A8A8A8;
}
#email{
    position: absolute;
    width: 798px;
    height: 48px;
    left: 36px;
    top: 424px;
    filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
}
button{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 786px;
    top: 424px;
    background: #8257E5;
}
#send{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 800px;
    top: 435px;
}